<div class="posts">
  {{#each everyPost}}
    <article class="card">
      <header class="padding main-color flex-row spread">
        <h2 class="main-color">
          <a class="main-color" href="post/{{id}}">{{title}}</a>
        </h2>
        <div class="padding-item">
          Posted by {{User.username}} on {{format_date createdAt}}
        </div>
      </header>
      <div class="card-content">
        <div class="content">
          {{body}}
        </div>
      </div>
    </article>
  {{/each}}
</div>